@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  font-family: sans-serif;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-1 {
  animation: float 3s ease-in-out infinite;
}

.float-2 {
  animation: float 4s ease-in-out infinite;
}

.float-3 {
  animation: float 5s ease-in-out infinite;
}

.float-4 {
  animation: float 3.5s ease-in-out infinite;
}
html {
  scroll-behavior: smooth;
}